.column-name {
    position: absolute;
    width: 1455px;
    height: 67px;
    background-color: #42515F;
    left: 214px;
    top: 204px;
    color: white;
}

.row-name {
    position: absolute;
    left: 118px;
}

.row-gender {
    position: absolute;
    left: 333px;
}

.row-department {
    position: absolute;
    left: 560px;
}

.row-salary {
    position: absolute;
    left: 812px;
}

.row-startdate {
    position: absolute;
    left: 1040px;
}

.row-action {
    position: absolute;
    left: 1237px;
}
.row {
    position: absolute;
    left: 504px;
    top: 295px;
}

.profile1 {
    position: absolute;
    right: 211px;
}

.name1 {
    position: absolute;
    right: 129px;
}

.gender1 {
    position: absolute;
    left: 77px;
    top:0px;
}

.department1 {
    position: absolute;
    left: 294px;
}

.salary1 {
    position: absolute;
    left: 534px;
}

.startdate1 {
    position: absolute;
    left: 765px;
}

.action1 {
    position: absolute;
    left: 959px;
}

.delete {
    position: absolute;
    bottom: 29px;
    left: 52px;
}


table#t01 {
    width: 72%;
    background-color: white;
    position: relative;
    left: 336px;
    top: 100px;
}


    /*table#t01 td + td + td {*/ /* this will go to the 2nd column of a table directly */

    /*padding-left:20px;
            position: relative;
            left: 104px;
        }*/

    /*table#t01 td + td + td +td{*/ /* this will go to the 2nd column of a table directly */

    /*padding-left: 20px;
        }*/

    /*  table#t01 tr:nth-child(even) {
            background-color: #eee;
        }*/

    /*  table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }*/

    table#t01 th {
        color: white;
        background-color: #42515F;
    }

table, th, td {
    border-top: 1px solid #ddd;
}

/* table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }*/

th, td {
    padding: 15px;
}

.department_array1 {
    background-color: yellow;
    width: 62px;
    height: 17px;
    position: relative;
    left: 7px;
    border-radius: 7px;
}

.department_array2 {
    background-color: yellow;
    width: 62px;
    height: 17px;
    position: relative;
    left: 11px;
    border-radius: 7px;
}

.department_array3 {
    background-color: yellow;
    width: 62px;
    height: 17px;
    position: relative;
    left: 3px;
    border-radius: 7px;
}


.department_array4 {
    background-color: yellow;
    width: 62px;
    height: 17px;
    position: relative;
    left: 3px;
    border-radius: 7px;
}


.department_array5 {
    background-color: yellow;
    width: 62px;
    height: 17px;
    position: relative;
    left: 3px;
    border-radius: 7px;
}

.button {
    position: absolute;
    left: 1310px;
    color: white;
    text-align: center;
    border-radius: 6px;
    width: 142px;
    height: 46px;
    font-size: large;
    top: 30px;
}

.search {
    background-image: url('~/assets/search.png') left center no-repeat;
}

.add_user {
    background-color: #82A70C;
    width: 139px;
    position: relative;
    /* height: 26px; */
    text-align: center;
    color: white;
    padding: 13px;
    border-radius: 5px;
    left: 1640px;
    top: 69px;
    padding-left: 39px;
    padding-right: 34px;
}

